body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.background {
	position: fixed; /* Fixed so it stays in place */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../assets/background/Imagebg.jpg'); /* Replace with your image URL */
	background-size: cover; /* Ensures the image covers the screen */
	background-position: center;
	filter: blur(8px); /* Adjust the blur intensity */
	z-index: -1; /* Ensures the background is behind the content */
}

#headlines {
  	color: white;
	font-weight: 2500;
	text-align: center;
	background-color: #1A27E9;
	font-size: 50px;
	padding: 30px;
	margin-left: 25%;
	margin-right: 25%;
	border: 5px solid #35D0FF;
}

#MainFrame {
    background-image: url("../assets/background/RoadI.png");
    border: 8px solid rgb(29, 0, 176);
    border-radius: 12px;
}